<div id="app">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">NgxCharts</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav"> 
                    
                    <li><a  routerLink="/" *ngIf="isLogin=='true'" routerLinkActive="horizontal-active-link" >Home</a></li>
                    <li><a  routerLink="/sign-in" *ngIf="isLogin!='true'" routerLinkActive="horizontal-active-link">Sign in</a></li>
                    
                    <!-- <li [class.active]="navBarShow.bar" ><a href="#" (click)="clickMenuShow('bar')">Bar</a></li>
                        <li [class.active]="navBarShow.stacked" ><a href="#" (click)="clickMenuShow('stacked')">Stacked</a></li>
                        <li [class.active]="navBarShow.pie"><a href="#" (click)="clickMenuShow('pie')">Pie</a></li>
                        <li [class.active]="navBarShow.line"><a href="#" (click)="clickMenuShow('line')">Line</a></li>
                        <li [class.active]="navBarShow.combo"><a href="#" (click)="clickMenuShow('combo')">Combo</a></li>
                        <li ><a  style="color:red" href="https://stackblitz.com/edit/tusharghoshbd-ngx-charts" >Live code</a></li>
                        <li ><a   href="https://github.com/tusharghoshbd/ngx-charts" >Github</a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>