<div class="container">
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Sign-in</h1>
            <hr/>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter email" required />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" [(ngModel)]="password" name="userPassword" class="form-control"
                        id="exampleInputPassword1" placeholder="Password" required />
                </div>
                <button type="submit" class="btn btn-primary" (click)="signIn()">Sign in</button>
            </form>
            <hr />
            <a routerLink="/sign-up" href="javascript:void(0)">Sign up</a>
            <!-- <hr/>
            <button type="button" class="btn btn-primary" (click)="signInWith()">Sign in with Google</button>
            <div *ngIf="auth.user | async as user;">
                <h1>Hello {{ user.displayName }}!</h1>
              </div> -->
        </div>
    </div>

</div>