

<div class="container">
    <div style="text-align:center"><h2>{{title}}</h2></div>
    <div class="row">
        <div class="col-md-12">
            <button  type="button"  (click)="signout()" class="btn btn-danger" style="margin-left: 10px">Sign out</button>
        </div>
    </div>
    
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form name="form" (ngSubmit)="onAddProductSubmit()" >
                <div class="form-group">
                  <label for="exampleInputEmail1">Product name</label>
                  <input type="text" name="name" [(ngModel)]="product.name" #name="ngModel"  class="form-control" aria-describedby="emailHelp" placeholder="Enter name">
                  
                </div>
                <div class="form-group">
                  <label >Price</label>
                  <input type="text" name="price" [(ngModel)]="product.price" #price="ngModel" class="form-control"  placeholder="Price">
                </div>
                <div class="form-group">
                    <label >Color</label>
                    <input type="text" name="color" [(ngModel)]="product.color" #color="ngModel" class="form-control" placeholder="Color">
                </div>
                <div class="form-group">
                    <label >Size</label>
                    <select id="inputState" name="size" [(ngModel)]="product.size" #size="ngModel" class="form-control">
                        <option value="Small">SMALL</option>
                        <option value="Medium">MEDIUM</option>
                        <option value="Large">LARGE</option>
                    </select>
                </div>
                <button   type="submit" *ngIf="editFlag == false" class="btn btn-primary">Add Product</button>
                <button  type="submit" *ngIf="editFlag == true" class="btn btn-primary">Update Product</button>
                <button  type="button"  (click)="resetForm()" class="btn btn-danger" style="margin-left: 10px">Reset</button>
                
              </form>
        </div>
        <div class="col-md-8"> 
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Color</th>
                    <th scope="col">Size</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; let i=index" >
                        <td>{{i+1}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.color}}</td>
                        <td>{{product.size}}</td>
                        <td> <a href="javascript:void()" (click)="onEditProduct(product.id,  product)" >Edit</a> | 
                            <a href="javascript:void()" (click)="onDeleteProduct(product.id)">Delete</a></td>
                      </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>